---
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section/index.astro';
---

<BaseLayout title="Gallery">
  <Section>
    <h1>Галерея</h1>
  </Section>
</BaseLayout>
