---
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section/index.astro';
---

<BaseLayout title="Reviews">
  <Section>
    <h1>Відгуки</h1>
  </Section>
</BaseLayout>
