---
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section/index.astro';
---

<BaseLayout title="Contacts">
  <Section>
    <h1>Контакти</h1>
  </Section>
</BaseLayout>
