---
import { Picture } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import heroImage from '@images/hero-section.png';
import MenuLink from '@components/ui/MenuLink.astro';
import { PATH } from '@constants/navigation.ts';
import ArrowLink from '@components/ui/ArrowLink.astro';
---

<BaseLayout title="Main Page">
  <section
    class="lg:h-[calc(100vh-75px)] flex flex-col lg:flex-row lg:py-10 py-16 md:py-18 justify-between gap-16 items-center"
  >
    <div class="lg:flex-grow lg:max-w-[800px] w-full flex flex-col lg:items-start items-center">
      <span class="text-xs bg-slate-100 p-1 mb-6">Привіт, новий гостю!</span>
      <h1
        class="text-[46px] sm:text-[54px] lg:text-[72px] leading-none text-dark-blue text-center lg:text-left font-semibold mb-6"
      >
        Ми не просто готуємо, ми створюємо ваші емоції !
      </h1>
      <span class="mb-6 inline-block">Спробуйте вишукані десерті, зроблені як для себе.</span>
      <div class="flex gap-8">
        <MenuLink />
        <ArrowLink text="Про нас" href={PATH.ABOUT_US} />
      </div>
    </div>
    <div class="max-w-[500px]">
      <Picture src={heroImage} alt="Hero image" formats={['webp']} />
    </div>
  </section>

  <section class="h-screen bg-green-500 px-8 py-12">
    <h1>Another section</h1>
  </section>
</BaseLayout>
