---
import CloseIcon from '@svg/close.svg';
---

<button
  type="button"
  class="-m-2.5 rounded-full p-2 hover:cursor-pointer hover:bg-gray-100/20"
  id="close-menu-button"
>
  <span class="sr-only">Close menu</span>
  <CloseIcon class="size-6 fill-secondary" />
</button>

<script>
  const button = document.getElementById('close-menu-button');
  const navMenu = document.getElementById('nav-menu');

  button?.addEventListener('click', () => {
    if (!navMenu?.classList.contains('hidden')) {
      navMenu?.classList.add('hidden');
    }
  });
</script>
