---

---

<button
  type="button"
  id="hamburger-button"
  class="-m-2.5 inline-flex items-center hover:cursor-pointer hover:bg-gray-100 justify-center rounded-full p-2 text-gray-700"
>
  <span class="sr-only">Open main menu</span>
  <svg
    class="size-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    aria-hidden="true"
    data-slot="icon"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
  </svg>
</button>

<script>
  const button = document.getElementById('hamburger-button');
  const navMenu = document.getElementById('nav-menu');

  button?.addEventListener('click', () => {
    if (navMenu?.classList.contains('hidden')) {
      navMenu?.classList.remove('hidden');
    }
  });
</script>
