---
import { HEADER_MENU } from '@constants/navigation';
import LogoIcon from '@svg/logo.svg';
import ThemeToggleButton from './ThemeToggleButton.astro';
import NavMenu from './NavMenu.astro';
import BurgerButton from './BurgerButton.astro';
---

<header class="inset-x-0 top-0 sticky z-20 border-b-[1px]">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Katy Cakes Logo</span>
        <LogoIcon class="fill-secondary" height={42} width={162} />
      </a>
    </div>

    <div class="flex lg:hidden">
      <BurgerButton />
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      {
        HEADER_MENU.map(({ title, src }) => (
          <a
            href={src}
            class="text-sm/6 hover:underline decoration-primary decoration-2 underline-offset-8"
          >
            {title}
          </a>
        ))
      }
    </div>

    <ThemeToggleButton class="hidden lg:flex" id="header-theme-toggle" />
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <NavMenu />
</header>
