---
import BaseLayout from '@layouts/BaseLayout.astro';
import Section from '@components/Section/index.astro';
---

<BaseLayout title="FAQ">
  <Section>
    <h1>Часті питання</h1>
  </Section>
</BaseLayout>
